
   a{
    text-decoration: none;
    color:white;
    font-size: 190px;
    font-family: "Dorsa", serif;
    font-weight: 800;
    font-style: normal;
   }
   .cont {
     width:70%;
     background:lightgray;
     height:100000px;
     margin: 0 auto;
     
   }
   nav{
     display:flex;
     justify-content:space-around;
     background:grey;
     position:sticky;
     top:0;
   }
   .ninja{
     width:100%;
   }
   .sects {
     display:flex;
     justify-content:space-around;
   }
   .sect{
     width:30%;
     text-align: center;

   }
   .sectimg {
   width:100%; 
   }
   p{
     font-size:5vw; 
     font-family: "Dorsa", serif;
     font-weight: 800;
     font-style: normal;
   }
   .srow{
    display:flex;
    justify-content:space-around;
   }
   .vert{
    width:18%; 
    display:flex;
    justify-content:space-around;
    writing-mode: vertical-rl;
    text-orientation: upright;
  }
  .bert{
    width:18%;
    display:flex;
    justify-content:space-around;
    writing-mode: vertical-rl;
    text-orientation: upright;
  }
   .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    Color:white;
    font-size: 190px;
    background: black;
    font-family: "Dorsa", serif;
    font-weight: 400;
    font-style: normal;
  }
